@{
    ViewBag.Title = "newstudent";
    Layout = "~/Views/Shared/third.cshtml";
}

<table border="1" style="width: 100%;">
            <tr style="font-size:22px;background:#ffd800;color:white;">
                <th>
                    Name
                </th>
                <th>
                    Qualification
                </th>
                <th>
                    Emailid
                </th>
                <th>
                    Address
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Mobileno.
                </th>
                <th>
                    Profile
                </th>
                <th>
                    Registration Date
                </th>
                <th>
                    Delete
                </th>
            </tr>
    @using spicarrierguideness.Models
            @{
                ConnectionManager cm = new ConnectionManager();
                string command = "select * from tbl_reg";
                System.Data.DataTable dt = cm.GetBulkRecord(command);
                if(dt.Rows.Count>0)
                {
                    for(int i=0;i<dt.Rows.Count;i++)
                    {
                         <tr>
                <td>@dt.Rows[i][0].ToString()</td>
                <td>@dt.Rows[i][1]</td>

                <td>@dt.Rows[i][2]</td>
                 <td>@dt.Rows[i][4]</td>        
                             <td>@dt.Rows[i][5]</td> 
                             <td>@dt.Rows[i][6]</td>
<td>
            <img src="../Content/Profiles/@dt.Rows[i][7].ToString()"style="height:50px;width:50px;border:2px solid red;border-radius:50%;" />

</td>     
                             <td>@dt.Rows[i][8]</td>
                             <td><a href="/admin/delete?dt=@dt.Rows[i][2].ToString()">Click</a></td>
            </tr>
                    }
                }
                   }
    </table>
